{% extends 'base.html' %}
{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goodbye</title>
    <style>

        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #F8F6EB;
        }

        .container {
            text-align: center;
        }

        h1 {
            font-size: 2em;
            color: #FE9C9C;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Goodbye</h1>
        <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGp4dmx0dXVvdzliMzV1cW0zbGw0b2tvMzBlNjU2Y2cxNjcwNTdxdCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/JOY9LC6NGHSAAvy12l/giphy.gif" alt="Goodbye GIF">
    </div>
</body>
</html>
{% endblock content %}
